$jumbotron-bg:transparent;
$jumbotron-color:#fdfdff;
$blue:rgb(19, 31, 138);

@import"node_modules/bootstrap/scss/bootstrap.scss";
.padding{
    margin: 2.5em;
    padding: 2.5em;
    background: rgb(11, 74, 156);
}
